body {

  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  margin-top: 0px;
  padding: 8px;
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  display: block;
}

.button-container {
  margin-top: 8px;
  text-align: center;
  background: #e3f4ff;
  padding: 8px;
}

button {
  display: block;
  padding: 8px 24px;
  margin: 0 auto;
}